@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-12 text-center d-flex ftco-animate">
                    <div class="blog-entry justify-content-end mb-md-5">
                        <p href="blog-single.html" class="block-20 img" style="background-image: url('@item.CoverImageUrl');">
                        </p>
                        <div class="text px-md-5 pt-4">
                            <div class="meta mb-3">
                                <div><p href="#">@item.CreatedDate.ToShortDateString()</p></div>
                                <div><p href="#">@item.AuthorName</p></div>
                                <div><p href="#" class="meta-chat"><span class="icon-chat"></span> </p></div>
                            </div>
                            <h3 class="heading mt-2"><p href="#">@item.Title</p></h3>
                            <p>@item.Description</p>
                            <p><a href="/Blog/BlogDetail/@item.BlogID" class="btn btn-primary">Yorumları oku... <span class="icon-long-arrow-right"></span></a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>